- model_class = Industry
.row
  .col-md-12
    .page-header
      %h1=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize

.row
  .col-md-12    
    = render :partial => "form"
