.row
  .col-md-6
    .text-muted
      Help Text
  .col-md-6
    = simple_form_for @category, :html => { :class => 'form-horizontal' }, defaults: {input_html: {class: "form-control"}} do |f|
      .form-group
        = f.input :name
      .form-group
        .form-actions
          = f.button :submit, :class => 'btn-primary'
          = link_to t('.cancel', :default => t("helpers.links.cancel")), categories_path, :class => 'btn btn-default'
