- flash.each do |name, message|
  - if message.is_a?(String)
    .alert.alert-dismissable{class: "alert-#{name.to_s == 'notice' ? 'success' : 'danger'}"}
      %button.close{type: "button", data: {dismiss: "alert"}, "aria-hidden" => "true"}
        &times;
      %strong
        = content_tag :div, message, id: "flash_#{name}", class: "text-center"
